<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="pane">
    <h1>Welcome, Admin</h1>
    <div class="actions">
        <button class="action-btn"><a th:href="@{/admin/users}">Manage Users</a></button>
        <button class="action-btn"><a th:href="@{/admin/customers}">Manage Customer</a></button>
        <button class="action-btn"><a th:href="@{/teller/dashboard}">Access Teller Dashboard</a></button>
    </div>
</div>
</body>
</html>
