<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Users</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div class="pane">
    <h1>All Registered Users</h1>
    <table>
        <thead>
        <tr>
            <th>User ID</th>
            <th>Username</th>
            <th>Roles</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.userId}">1</td>
            <td th:text="${user.username}">admin</td>
            <td>
                <ul>
                    <li th:each="role : ${user.roles}" th:text="${role.name}">ROLE_ADMIN</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="action-btn">Logout</button>
    </form>
    <!-- Go Back Button -->
    <div class="mb-4">
        <a href="javascript:history.back()" class="btn btn-primary btn-sm">Go Back</a>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
